/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Noonnu Korean Fonts */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Pretendard-Regular";
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #00b894;
  color: #555;
}
.to_do_list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.to_do_list .title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
}
.to_do_list .input_field {
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}
.input_field input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #eee;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 80px;
  font-size: 15px;
}
.input_field input[type="text"]::placeholder {
  color: #aaa;
  transition: 0.35s;
}
.input_field input[type="text"]:focus::placeholder {
  color: transparent;
}
.input_field button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px;
  height: 100%;
  border: none;
  background-color: #00b89393;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.35s;
}
.input_field button:hover {
  background-color: #00b893;
}
#list_field {
  list-style: none;
  margin: 0;
  padding: 0;
}
#list_field li {
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}
#list_field li span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.35s;
}
#list_field li span:hover {
  background-color: #eee;
}
#list_field li::before {
  content: "\F28A";
  font-family: "bootstrap-icons";
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  transform: translateY(1px);
  color: #bbb;
}
#list_field li.checked {
  text-decoration: line-through;
}
#list_field li.checked::before {
  content: "\F26A";
  color: #00b893;
}
